.hero-wrapper{
    color: white;
    position: relative;
    padding-bottom: 2rem;
    background-image: linear-gradient(to bottom right, rgb(2, 2, 67), rgb(111, 127, 232));

}

.hero-container{
    justify-content: space-between;
    align-items: flex-end;
}
/* left side */
.hero-left{
    gap:3rem;
}

.hero-title{
    position: relative;
    z-index: 1;
}

.hero-title>h1{
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 4rem;
}

.image-container{
    width: 30rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 3rem 15rem 0 3rem ;
    border: 3px solid rgba(255, 255, 255, 0.12);
}

.image-container>img {
    width: 100%;
    height: 100%;
}
.hero-right {
    background-image: '../../public/ds2.jpg';
}

.hero-description {
    color: rgb(156, 175, 196);
}